<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
<script type="text/javascript" src="../controllers/main.js"></script>
<script type="text/javascript" src="../controllers/register-controller.js"></script>
<script type="text/javascript" src="../controllers/StatusLegend-controller.js"></script>
<script type="text/javascript" src="../controllers/tab-controller.js"></script>
<script type="text/javascript" src="../controllers/directory-controller.js"></script>
<script type="text/javascript" src="../controllers/publicChat-controller.js"></script>
<script type="text/javascript" src="../controllers/chatgroup-controller.js"></script>
<script type="text/javascript" src="../controllers/privateChat-controller.js"></script>
<script type="text/javascript" src="../controllers/announcements.js"></script>
<script type="text/javascript" src="../controllers/helpProviderController.js"></script>
<script type="text/javascript" src="../controllers/config.js"></script>
<script type="text/javascript" src="../controllers/volunteer.js"></script>
<script type="text/javascript" src="../../node_modules/socket.io-client/dist/socket.io.js"></script>
<script type="text/javascript" src="../../node_modules/ng-file-upload/dist/ng-file-upload-all.js"></script>
<script type="text/javascript" src="../../node_modules/angular-file-upload/dist/angular-file-upload.min.js"></script>
<script type="text/javascript"
        src="https://rawgit.com/alexk111/ngImgCrop/master/compile/unminified/ng-img-crop.js"></script>


<script src="../../node_modules/jquery/dist/jquery.js"></script>

<link rel="stylesheet" href="../public/stylesheets/style.css">
<link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap-theme.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<link rel="stylesheet" href="../public/stylesheets/style.css">
<body ng-app="myApp">


<!-- <a href="#statuslegend"></a> -->
<div ng-view></div>

</body>
</html>
